<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    Welcome.
    <ul>
        <li>
            <a href="/dog/?dog=Elio">My dog</a>
        </li>

        <li>
            <a href="/me/?name=Gianpaolo">Who am I</a>
        </li>
    </ul>
</body>
</html>